:root {
  --text-font: "Kreon", serif;
  --background-color: rgb(246, 228, 205);
}
body{
 
  background: linear-gradient(#542E38, #FFDFEA) no-repeat fixed ;
}

.intro-1 {
  text-align: center;
  margin: 20px 50px auto;
  display: block;
}
nav {
  font-family: var(--text-font);

}

h2,
h1,
h3,
h4,
h5,
h6 {
  font-family: var(--text-font);
  font-optical-sizing: auto;
}

h1 {
  font-weight: 500;
  font-style: normal;
  font-size: 96px;
}
p {
  font-family: var(--text-font);
  opacity: 60%;
  font-size: 14px;
  text-align: justify;
}
h3 {
  font-size: 16px;
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 32px;
  padding: 10px;
}
h3#front-end {
  opacity: 0.8;
  padding: 15px;
  background-color: transparent;
}
.email-link{
  color: #542E38;
  text-decoration: none;

}
.email-link:hover{
  color: #F4EBA8;
  transition: 100ms ease-in-out;
}
.contact-box{
  border-radius: 10px;
  box-shadow: 0 4px 4px 5px #eed6e2;
  padding: 20px 20px;


}
.contact-box p{
  text-align: center;
}
.contact-box .btn{
  margin: auto;
  margin-right: 30px;
 
}
.section {
  padding: 60px 40px;
  max-width: 900px;
  display: block;
  margin: 0 auto;
  
}
.section-1{
  border: 4px solid rgb(191, 158, 114);
}
.section h1 {
  font-size: 60px;
  text-align: center;
  padding:20px;
  
}
.section h2 {
  font-size: 18px;
  text-align: center;
}
.section p {
  font-size: 12px;
  text-indent: 20px;
  text-align: justify;
  line-height: 1.5;
}
.personal-image {
  

  display: block;
  margin: 25px auto;
  border-image: fill;
  padding:20px ;
}
.container {
  max-width: 900px;
}

.main-intro-part {
  padding: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/153/214/original/background-6728572_1280.jpg?1734695256);
}
#netlify-icon,
i{
   color: #F4EBA8;
    font-size: 28px;

}

.btn{
  padding: 10px 25px;
  background-color:#7f4658;
  border: 1px solid rgb(191, 158, 114);
 
  
}
 a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  

}
.btn:hover {
  color: black;
  background-color:  #FFDFEA;
  border: 1px solid rgb(191, 158, 114);
}
.contact-box .btn a:hover{
  color: black;
}
/*@media screen and (max-width: 600px)  {
  h1{
    font-size: 40px;
  }

  .container{
    max-width: 500px;
  }
}*/
#prjct {
  font-size: 44px;

  margin-top: 50px;
 
}


@media screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  .section h3 {
    font-size: 22px;
  }
  .main-intro-part {
    background-image: fit-content;
    padding: 20px;
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/153/214/original/background-6728572_1280.jpg?1734695256);
  }
#netlify-icon,
i{
  font-size: 16px;
}
p{
  font-size: 12px;
}
.contact-box h3{
  padding: 0;
  font-size: 18px;
}
.contact-box .btn{
  font-size: 12px;
  flex-direction: column;
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.contact-box .btn a{
  font-size: 12px;
  margin: auto;
  justify-content: space-around;
}
}
