:root{
  --text-font:"Kreon", serif;
  --background-color:  rgb(246, 228, 205);
}

.intro-1 {
  text-align: center;
 margin: 20px 50px auto;
display: block;

}

h2,
h1,
h3, h4, h5, h6 {
  font-family: var(--text-font);
  font-optical-sizing: auto;
}
h1 {
  font-weight: 500;
  font-style: normal;
  font-size: 96px;
}
p{
  font-family: var(--text-font);
  opacity: 60%;
  font-size: 14px;
}




h3 {
  font-size: 16px;
  text-align: center;
  padding: 20px;
  
  
  
}
h2{
  font-size: 32px;
  padding: 10px;
}
h3#front-end{
    opacity: 0.8; 
    padding: 15px;
background-color: transparent;

}
.container{
  max-width: 900px;
}

.main-intro-part {
  padding: 160px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
  background-image: url(
https://s3.amazonaws.com/shecodesio-production/uploads/files/000/153/214/original/background-6728572_1280.jpg?1734695256);
}

i{
    color: black;
}

.btn{
    padding: 10px 25px;
    background-color: rgb(222, 161, 82);
    border: 1px solid rgb(222, 161, 82);
}
.btn:hover{
    color: black;
    background-color: rgb(219, 140, 37);
     border: 1px solid rgb(222, 161, 82);
}

/*@media screen and (max-width: 600px)  {
  h1{
    font-size: 40px;
  }

  .container{
    max-width: 500px;
  }
}*/

@media screen and ( max-width:600px)  {
  h1{
    font-size: 28px;

  }
  h2{
    font-size: 16px;
  }
  h3{
    font-size: 12px;
  }

  .main-intro-part{
    background-image:fit-content ;
    padding: 20px;
    background-image:url(
https://s3.amazonaws.com/shecodesio-production/uploads/files/000/153/214/original/background-6728572_1280.jpg?1734695256);
} 

  .icons-contact{
font-size: 12px;
  }

}